$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
$screen-xxxl: 2000px;


$b0: hsl(0, 0%, 0%);
$b1: hsl(0, 0%, 1%);
$b2: hsl(0, 0%, 2%);
$b3: hsl(0, 0%, 3%);
$b4: hsl(0, 0%, 4%);
$b5: hsl(0, 0%, 5%);
$b6: hsl(0, 0%, 6%);
$b7: hsl(0, 0%, 7%);
$b8: hsl(0, 0%, 8%);
$b9: hsl(0, 0%, 9%);

$b10: hsl(0, 0%, 10%);
$b11: hsl(0, 0%, 11%);
$b12: hsl(0, 0%, 12%);
$b13: hsl(0, 0%, 13%);
$b14: hsl(0, 0%, 14%);
$b15: hsl(0, 0%, 15%);
$b16: hsl(0, 0%, 16%);
$b17: hsl(0, 0%, 17%);
$b18: hsl(0, 0%, 18%);
$b19: hsl(0, 0%, 19%);

$b20: hsl(0, 0%, 20%);
$b21: hsl(0, 0%, 21%);
$b22: hsl(0, 0%, 22%);
$b23: hsl(0, 0%, 23%);
$b24: hsl(0, 0%, 24%);
$b25: hsl(0, 0%, 25%);
$b26: hsl(0, 0%, 26%);
$b27: hsl(0, 0%, 27%);
$b28: hsl(0, 0%, 28%);
$b29: hsl(0, 0%, 29%);

$b30: hsl(0, 0%, 30%);
$b31: hsl(0, 0%, 31%);
$b32: hsl(0, 0%, 32%);
$b33: hsl(0, 0%, 33%);
$b34: hsl(0, 0%, 34%);
$b35: hsl(0, 0%, 35%);
$b36: hsl(0, 0%, 36%);
$b37: hsl(0, 0%, 37%);
$b38: hsl(0, 0%, 38%);
$b39: hsl(0, 0%, 39%);

$b40: hsl(0, 0%, 40%);
$b41: hsl(0, 0%, 41%);
$b42: hsl(0, 0%, 42%);
$b43: hsl(0, 0%, 43%);
$b44: hsl(0, 0%, 44%);
$b45: hsl(0, 0%, 45%);
$b46: hsl(0, 0%, 46%);
$b47: hsl(0, 0%, 47%);
$b48: hsl(0, 0%, 48%);
$b49: hsl(0, 0%, 49%);

$b50: hsl(0, 0%, 50%);
$b51: hsl(0, 0%, 51%);
$b52: hsl(0, 0%, 52%);
$b53: hsl(0, 0%, 53%);
$b54: hsl(0, 0%, 54%);
$b55: hsl(0, 0%, 55%);
$b56: hsl(0, 0%, 56%);
$b57: hsl(0, 0%, 57%);
$b58: hsl(0, 0%, 58%);
$b59: hsl(0, 0%, 59%);

$b60: hsl(0, 0%, 60%);
$b61: hsl(0, 0%, 61%);
$b62: hsl(0, 0%, 62%);
$b63: hsl(0, 0%, 63%);
$b64: hsl(0, 0%, 64%);
$b65: hsl(0, 0%, 65%);
$b66: hsl(0, 0%, 66%);
$b67: hsl(0, 0%, 67%);
$b68: hsl(0, 0%, 68%);
$b69: hsl(0, 0%, 69%);

$b70: hsl(0, 0%, 70%);
$b71: hsl(0, 0%, 71%);
$b72: hsl(0, 0%, 72%);
$b73: hsl(0, 0%, 73%);
$b74: hsl(0, 0%, 74%);
$b75: hsl(0, 0%, 75%);
$b76: hsl(0, 0%, 76%);
$b77: hsl(0, 0%, 77%);
$b78: hsl(0, 0%, 78%);
$b79: hsl(0, 0%, 79%);

$b80: hsl(0, 0%, 80%);
$b81: hsl(0, 0%, 81%);
$b82: hsl(0, 0%, 82%);
$b83: hsl(0, 0%, 83%);
$b84: hsl(0, 0%, 84%);
$b85: hsl(0, 0%, 85%);
$b86: hsl(0, 0%, 86%);
$b87: hsl(0, 0%, 87%);
$b88: hsl(0, 0%, 88%);
$b89: hsl(0, 0%, 89%);

$b90: hsl(0, 0%, 90%);
$b91: hsl(0, 0%, 91%);
$b92: hsl(0, 0%, 92%);
$b93: hsl(0, 0%, 93%);
$b94: hsl(0, 0%, 94%);
$b95: hsl(0, 0%, 95%);
$b96: hsl(0, 0%, 96%);
$b97: hsl(0, 0%, 97%);
$b98: hsl(0, 0%, 98%);
$b99: hsl(0, 0%, 99%);
$b100: hsl(0, 0%, 100%);