@import '/app/styles/mixins';

.main {
	font-family: 'Manrope';
	.images_holder {
		padding: 0 14px;
		.image_wrapper {
			display: flex;
			width: 100%;
		}
	}
	.add_product_form {
		.title {
			padding-left: 24px;
			.product_name {
				font-size: 16px;
				font-weight: 500;
				margin: 8px 0;
				line-height: 1.25;
			}
			.mrp {
				color: #707070;
				font-size: 13px;
				font-weight: 400;
				line-height: 1.23;
				margin-bottom: 2px;
			}
			.price {
				color: #222;
				font-size: 16px;
				font-weight: 4  00;
				line-height: 1.25;
			}
		}
		.sizes_text {
			color: #222;
			font-size: 13px;
			font-weight: 400;
			line-height: 1.23;
			padding: 12px 24px 0;
		}
		.sizes {
			display: flex;
			flex-wrap: wrap;
			padding: 0 24px;
			.size{
				border: 1px solid $b82;
				height: 40px;
				font-size: .8125rem;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 8px 4px;
				flex: 0 0 calc(25% - 8px);
				max-width: calc(25% - 8px);
			}
		}
		.notify {
			background: #222;
			width: calc(100% - 48px);
			height: 48px;
			margin: 16px auto;
			display: flex;
			justify-content: center;
			align-items: center;
			.txt {
				color: #FFF;
				text-align: center;
				font-size: 16px;
				font-weight: 400;
				margin-left: 10px;
			}
		}
		.dnf {
			border-top: solid #D0D0D0 1px;
			.collapse {
				display: flex;
				.txt_dnf {
					color: #222;
					font-size: 16px;
					font-weight: 400;
					line-height: 16px;
					padding: 12px 24px;
				}
				svg {
					float: right;
					margin: 16px 24px;
					margin-left: auto;
				}
			}
			.description {
				padding: 0 24px;
			}
		}
		.inquiry_form {
			margin: 13px;
			// width: 100%;
			.personal_detail {
				height: 45px;
				width: 100%;
				margin-bottom: 13px;
				padding-left: 14px;
			}
			.message {
				width: 100%;
				height: 200px;
				padding-left: 14px;
			}
		}
	}
}
@media (min-width: 576px) {
	.main {
		display: flex;
		.images_holder {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			gap: 2px;
			.image_wrapper {
				flex: 0 0 calc(50% - 1px);
				max-width: calc(50% - 1px);
			}
		}
		.add_product_form {
			width: 100%;
			.title {
				.product_name {
					color: #222;
					font-size: 16px;
					font-weight: 400;
					line-height: 20px;
				}
				.mrp {
					line-height: 17px;
					font-size: 13px;
					font-weight: 400;
					text-transform: none;
				}
				.price {
					color: #222;
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
			}
			}
			.sizes_text {
				color: #222;
				font-size: 13px;
				font-weight: 400;
				line-height: 16px;
			}
			.sizes {
				width: 390.39px;
				height: 102px;
				.size {
					border: 1px solid #D0D0D0;
					background: #E4E4E4;
				}
			}
			.notify {
				height: 48px;
				padding: 14px 26px; 
				.txt {
					display: flex;
					padding: 0px 119.1px 0px 113.77px;
					align-items: flex-end;
					gap: 10.52px;
					align-self: stretch;
				}
			}
			.dnf {
				.collapse {
					.txt_dnf {
						color: #222;
						font-size: 16px;
						font-weight: 400;
						line-height: 16px;
					}
					svg {
						float: right;
						margin: 16px 24px;
						margin-left: auto;
					}
				}
			}
			.inquiry_form {
				.message {
					height: 265px;
				}
			}
			
		}
	}
}